$navbar-height: 3.75rem; // 60px
$navbar-background-color: $light-grey;
$navbar-item-color: $white;
$navbar-item-hover-color: $light-green;
$navbar-item-hover-background-color: $light-grey;
$navbar-item-active-color: $light-green;
$navbar-dropdown-background-color: $light-grey;
