@charset "utf-8";

@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';

@import 'colors';
@import 'navbar';
@import 'menu';

$hr-height: 1px;

$family-serif: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, serif;
$family-primary: $family-serif;

@import '../../node_modules/bulma/sass/utilities/_all';
@import '../../node_modules/bulma/sass/base/_all';
@import '../../node_modules/bulma/sass/helpers/_all';
@import '../../node_modules/bulma/sass/layout/_all';
@import '../../node_modules/bulma/sass/elements/container';
@import '../../node_modules/bulma/sass/elements/button';
@import '../../node_modules/bulma/sass/elements/title';
@import '../../node_modules/bulma/sass/elements/icon';
@import '../../node_modules/bulma/sass/elements/image';
@import '../../node_modules/bulma/sass/elements/content';
@import '../../node_modules/bulma/sass/components/navbar';
@import '../../node_modules/bulma/sass/components/tabs';
@import '../../node_modules/bulma/sass/components/menu';
@import '../../node_modules/bulma/sass/grid/columns';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

ul {
  &:not(.menu-list) {
    li {
      margin-left: 2em;
      list-style: disc outside;
    }
  }
}

#root {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.main {
  flex: 1 0 auto;
  padding-top: $navbar-height;

  .feature-block {
    &:nth-child(odd) {
      @extend .is-white;
      a {
        color: #1277d9;
      }
    }

    .feature-description {
      h3 {
        @extend .title;
        &:not(:first-child) {
          padding-top: 10px;
        }
      }
    }
  }
}

.navbar-burger {
  background-color: $light-grey;
  border: none;
  > span {
    color: $white;
  }
}

.navbar-menu-centered {
  justify-content: center;
}

.footer {
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid $white;
}

.footer-logo {
  margin-right: 5px;
  height: 32px;
  width: 32px;
}

.footer-credits {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.version-number {
  color: $light-green;
  margin-right: 5px;
}

.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

.changelog {
  margin-top: 5px;

  h3 {
    color: $light-green;
    font-size: 1.25rem;
    font-weight: 400;
  }
}

.release-date {
  margin-right: 5px;
}

.doc-page {
  padding-bottom: 0.75rem;
  .doc-title {
    @extend .title;
    color: $light-green;
    margin-right: 10px;
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  h1 {
    @extend .doc-title;
  }

  h2 {
    @extend .doc-title;
    @extend .is-4;
  }

  h3 {
    @extend .doc-title;
    @extend .is-5;
  }

  h4 {
    @extend .doc-title;
    @extend .is-6;
  }

  ol {
    margin-left: 2em;
    margin-top: 0.5em;
  }
}
